*.gdoc
.DS_Store
bibliography
*.hi
*.o
*.csv
bin
*.gsheet
test.hs
*.gz

# Latex
*.log
*.fls
*.fdb_latexmk
*.aux*
*.bbl
*.bcf
*.run.xml
*.blg
_minted-tesis
*.toc
tesis.pdf
configs
results

samples.bib
